<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignUpAndLoginUsingFirebase">
        <activity
            android:name="com.ayushcodes.signupandloginusingfirebase.AddNote"
            android:exported="true"/>
        <activity
            android:name="com.ayushcodes.signupandloginusingfirebase.EditNote"
            android:exported="true"/>
        <activity
            android:name="com.ayushcodes.signupandloginusingfirebase.ForgetPassword"
            android:exported="true"/>
        <activity
            android:name="com.ayushcodes.signupandloginusingfirebase.MainActivity"
            android:exported="true"/>
        <activity
            android:name="com.ayushcodes.signupandloginusingfirebase.SignUpPage"
            android:exported="true"/>
        <activity
            android:name="com.ayushcodes.signupandloginusingfirebase.SignInPage"
            android:exported="true"/>
        <activity
            android:name="com.ayushcodes.signupandloginusingfirebase.WelcomeScreen"
            android:exported="true"
            android:theme="@style/SplashApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>